body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#content {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

iframe.embed-responsive-item {
  width: 100%;
  height: 100%;
}

.text-left {
  left: 0;
  top: 0;
}

.text-right {
  right: 0;
  bottom: 0;
}

.overlay {
  position: absolute;
  height: 5em;
  z-index: 256;
}

.overlay > h3 > a {
  text-decoration: none;
  background-color: #D1D1D1;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.O {
  color: #EA4335;
}

.o {
  color: #FBBC05;
}

.g {
  color: #4285F4;
}

.L {
  color: #34A853;
}

.E {
  color: #EA4335;
}

.FOUR {
  color: #5A9EC5;
}

.ZERO {
  color: #1B5D07;
}
